@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: #491718de #b89061;
}

ul {
	scrollbar-width: thin;
	scrollbar-color: #491718 #d2a772;
}

body {
	color: black;
	background: #d2a772;
}

.gradient-top {
	background: linear-gradient(
		to bottom,
		rgba(184, 144, 97, 1),
		rgba(255, 0, 0, 0) 50%
	);
}

.gradient-bottom {
	background: linear-gradient(
		to top,
		rgba(184, 144, 97, 1),
		rgba(0, 0, 255, 0) 50%
	);
}
